/* SH IMAGE SELECT */
.sh-img-select-wrapper {
    float:left;
}

.sh-img-select-container {
    overflow:hidden;
}

.sh-img-select-screen-container {
    float:left;
}

.sh-img-select-screen {
    float:left;
}

.sh-img-select-screen img {
    float:left;
}

.sh-img-select-image-wrapper {
    position:relative;
    float:left;
    overflow:hidden;
}

.sh-img-select-selected-layer {
    display:none;
    width:100%;
    height:100%;
    position:absolute;
    z-index:998;
    background:url('images/tick.png') center center no-repeat #5cb98b;
}

.sh-img-select-textblock {
    position:absolute;
    bottom:-100%;
    z-index:999;
    padding: 5px 0;
    text-align:center;
    font-size:12px;
}

.sh-img-select-container .sh-scrollbar-track {
    border:1px solid;
}

.sh-img-select-container .sh-scrollbar-track,
.sh-img-select-container .sh-scrollbar-slider {
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -khtml-border-radius:4px;
    behavior:url(PIE.htc);
}

.sh-img-select-container .sh-scrollbar-track-y {
    width:10px;
    margin-left:5px;
}

.sh-img-select-container .sh-scrollbar-track-x {
    height:10px;
    margin-top:5px;
}

/* SH IMAGE BOX THEME */
.sh-img-select-theme-box {
    padding:5px;
    border:1px solid;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -khtml-border-radius:3px;
    position:relative\0;
    behavior:url(PIE.htc);
}

.sh-img-select-theme-box .sh-img-select-textblock {
    width:100%;
    -moz-opacity:0.7;
    -khtml-opacity: 0.7;
    filter: alpha(opacity=70);
    opacity: 0.7;
}


/* SH IMAGE MINIMAL THEME */
.sh-img-select-theme-minimal {
    background:0;
}

.sh-img-select-theme-minimal .sh-img-select-selected-layer {
    background: url('images/tick-green.png') right top no-repeat;
}

.sh-img-select-theme-minimal .sh-img-select-textblock {
    padding:5px;
    border:1px solid;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -khtml-border-radius:3px;
    behavior:url(PIE.htc);
}


/* SH IMAGE SELECT LIGHT SKIN */
.sh-img-select-light .sh-img-select-textblock {
    color:black;
    background:white;
}

.sh-img-select-theme-box.sh-img-select-light {
    border-color:#d7d6d6;
    background-color:white;
    -moz-box-shadow:0 2px 5px -2px #d9d9d9;
    -webkit-box-shadow:0 2px 5px -2px #d9d9d9;
    -khtml-box-shadow:0 2px 5px -2px #d9d9d9;
}

.sh-img-select-theme-minimal.sh-img-select-light .sh-img-select-textblock {
    border-color:#d7d6d6;
}


/* SH IMAGE SELECT DARK SKIN */
.sh-img-select-dark .sh-img-select-textblock {
    color:white;
}

.sh-img-select-theme-box.sh-img-select-dark {
    background:#484848;
    border-color:#272727;
    -moz-box-shadow:0 2px 5px -2px #3d3d3d;
    -webkit-box-shadow:0 2px 5px -2px #3d3d3d;
    -khtml-box-shadow:0 2px 5px -2px #3d3d3d;
}

.sh-img-select-theme-box.sh-img-select-dark .sh-img-select-image-wrapper {
    background:black;
}

.sh-img-select-theme-box.sh-img-select-dark .sh-img-select-textblock {
    background:#272727;
}

.sh-img-select-theme-minimal.sh-img-select-dark .sh-img-select-textblock {
    border-color:#272727;
    background:#484848;
}


/* SH IMAGE SELECT DROP-DOWN START */
.sh-img-dropdown-container {
    float:left;
    position:relative;
}

.sh-img-dropdown-container img {
    float:left;
}

.sh-img-dropdown-list-container {
    overflow:hidden;
    position:absolute;
    z-index:999999;
    border:1px solid;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -khtml-border-radius:3px;
    behavior:url(PIE.htc);
}

.sh-img-dropdown-box-overlay {
    position:absolute;
    top:0;
    width:100%;
    height:100%;
    z-index:999998;
    background:url('images/empty.png')\0; /* ie8 fix */
}

.sh-img-dropdown-under-overlay {
    position:absolute;
    top:0;
    width:100%;
    height:100%;
    z-index:999997;
}

.sh-img-dropdown-list {
    float:left;
}

.sh-img-dropdown-image-wrapper {
    position:relative;
    overflow:hidden;
}

.sh-img-dropdown-textblock {
    position:absolute;
    bottom:-100%;
    z-index:999;
    width:100%;
    padding: 5px 0;
    text-align:center;
    font-size:12px;
    -moz-opacity:0.7;
    -khtml-opacity: 0.7;
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.sh-img-dropdown-box {
    overflow:hidden;
    border:1px solid;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -khtml-border-radius:3px;
    position:relative\0;
    behavior:url(PIE.htc);
}

.sh-img-dropdown-list-container .sh-scrollbar-slider {
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    -khtml-border-radius:2px;
    behavior:url(PIE.htc);
}


/* SH IMAGE SELECT DROP-DOWN ARROWS THEME */
.sh-img-dropdown-theme-arrows .sh-img-dropdown-box {
    padding-right:17px;
}

.sh-img-dropdown-theme-arrows .sh-img-dropdown-under-overlay {
    background:100% 50% no-repeat;
}

.sh-img-dropdown-theme-minimal.sh-img-dropdown-direction-right .sh-img-dropdown-under-overlay {
    background:url('images/direction-right.png') 100% 50%;
}

.sh-img-dropdown-theme-arrows.sh-img-dropdown-direction-right .sh-img-dropdown-under-overlay {
    background-image:url('images/direction-right.png');
}

.sh-img-dropdown-theme-arrows.sh-img-dropdown-direction-left .sh-img-dropdown-under-overlay {
    background-image:url('images/direction-left.png');
}

.sh-img-dropdown-theme-arrows.sh-img-dropdown-direction-up .sh-img-dropdown-under-overlay {
    background-image:url('images/direction-up.png');
}

.sh-img-dropdown-theme-arrows.sh-img-dropdown-direction-down .sh-img-dropdown-under-overlay {
    background-image:url('images/direction-down.png');
}

.sh-img-dropdown-theme-arrows.sh-img-dropdown-direction-up-down .sh-img-dropdown-under-overlay {
    background-image:url('images/direction-up-down.png');
}

.sh-img-dropdown-theme-arrows.sh-img-dropdown-direction-left-right .sh-img-dropdown-under-overlay {
    background-image:url('images/direction-left-right.png');
}

.sh-img-dropdown-theme-arrows .sh-scrollbar-track-x {
    height:17px !important;
}

.sh-img-dropdown-theme-arrows .sh-scrollbar-track-x .sh-scrollbar-slider {
    height:15px !important;
}

.sh-img-dropdown-theme-arrows .sh-scrollbar-track-y {
    width:17px !important;
}

.sh-img-dropdown-theme-arrows .sh-scrollbar-track-y .sh-scrollbar-slider {
    width:15px !important;
}


/* SH IMAGE SELECT DROP-DOWN MINIMAL THEME */
.sh-img-dropdown-theme-minimal .sh-img-dropdown-under-overlay {
    display:none;
    background-repeat:no-repeat !important;
}

.sh-img-dropdown-theme-minimal.sh-img-dropdown-direction-right .sh-img-dropdown-under-overlay {
    background-position:100% 50%;
}

.sh-img-dropdown-theme-minimal.sh-img-dropdown-direction-left .sh-img-dropdown-under-overlay {
    background-position:0 50%;
}

.sh-img-dropdown-theme-minimal.sh-img-dropdown-direction-up .sh-img-dropdown-under-overlay {
    background-position:50% 0;
}

.sh-img-dropdown-theme-minimal.sh-img-dropdown-direction-down .sh-img-dropdown-under-overlay {
    background-position:50% 100%;
}

.sh-img-dropdown-theme-minimal.sh-img-dropdown-direction-up-down .sh-img-dropdown-under-overlay {
    background-position:50% 50%;
}

.sh-img-dropdown-theme-minimal.sh-img-dropdown-direction-left-right .sh-img-dropdown-under-overlay {
    background-position:50% 50%;
}


/* SH IMAGE SELECT DROP-DOWN RIGHT DIRECTION */
.sh-img-dropdown-direction-right .sh-img-dropdown-list-container {
    left:100%;
}

.sh-img-dropdown-direction-right .sh-img-dropdown-list-screen,
.sh-img-dropdown-direction-right .sh-img-dropdown-image-wrapper {
    float:left;
}


/* SH IMAGE SELECT DROP-DOWN DOWN DIRECTION */
.sh-img-dropdown-direction-down .sh-img-dropdown-list-container {
    top:100%;
}


/* SH IMAGE SELECT DROP-DOWN LEFT DIRECTION */
.sh-img-dropdown-direction-left .sh-img-dropdown-list-screen,
.sh-img-dropdown-direction-left .sh-img-dropdown-image-wrapper {
    float:left;
}


/* SH IMAGE SELECT DROP-DOWN UP-DOWN DIRECTION */
.sh-img-dropdown-direction-up-down .sh-img-dropdown-list-container {
    top:50%;
}


/* SH IMAGE SELECT DROP-DOWN LEFT-RIGHT DIRECTION */
.sh-img-dropdown-direction-left-right .sh-img-dropdown-list-container {
    left:50%;
}

.sh-img-dropdown-direction-left-right .sh-img-dropdown-list-screen,
.sh-img-dropdown-direction-left-right .sh-img-dropdown-image-wrapper {
    float:left;
}


/* SH IMAGE SELECT DROP-DOWN LIGHT SKIN */
.sh-img-dropdown-light .sh-img-dropdown-list-container {
    border-color:#dadada;
}

.sh-img-dropdown-light .sh-img-dropdown-box {
    background-color:white;
    border-color:#dadada;
    box-shadow:0 2px 5px -2px #d9d9d9;
    -moz-box-shadow:0 2px 5px -2px #d9d9d9;
    -webkit-box-shadow:0 2px 5px -2px #d9d9d9;
    -khtml-box-shadow:0 2px 5px -2px #d9d9d9;
}

.sh-img-dropdown-light.sh-img-dropdown-theme-minimal.sh-img-dropdown-direction-right .sh-img-dropdown-under-overlay {
    background-image:url('images/arrow-right-light.png');
}

.sh-img-dropdown-light.sh-img-dropdown-theme-minimal.sh-img-dropdown-direction-left .sh-img-dropdown-under-overlay {
    background-image:url('images/arrow-left-light.png');
}

.sh-img-dropdown-light.sh-img-dropdown-theme-minimal.sh-img-dropdown-direction-up .sh-img-dropdown-under-overlay {
    background-image:url('images/arrow-up-light.png');
}

.sh-img-dropdown-light.sh-img-dropdown-theme-minimal.sh-img-dropdown-direction-down .sh-img-dropdown-under-overlay {
    background-image:url('images/arrow-down-light.png');
}

.sh-img-dropdown-light.sh-img-dropdown-theme-minimal.sh-img-dropdown-direction-up-down .sh-img-dropdown-under-overlay {
    background-image:url('images/arrow-up-down-light.png');
}

.sh-img-dropdown-light.sh-img-dropdown-theme-minimal.sh-img-dropdown-direction-left-right .sh-img-dropdown-under-overlay {
    background-image:url('images/arrow-left-right-light.png');
}

.sh-img-dropdown-light .sh-img-dropdown-list {
    background:white;
}

.sh-img-dropdown-light .sh-img-dropdown-textblock {
    color:black;
    background:white;
}


/* SH IMAGE SELECT DROP-DOWN DARK SKIN */
.sh-img-dropdown-dark .sh-img-dropdown-list-container {
    border-color:#272727;
}

.sh-img-dropdown-dark .sh-img-dropdown-box {
    background-color:#3a3a3a;
    border-color:#272727;
    box-shadow:0 2px 5px -2px #3d3d3d;
    -moz-box-shadow:0 2px 5px -2px #3d3d3d;
    -webkit-box-shadow:0 2px 5px -2px #3d3d3d;
    -khtml-box-shadow:0 2px 5px -2px #3d3d3d;
}

.sh-img-dropdown-dark.sh-img-dropdown-theme-minimal.sh-img-dropdown-direction-right .sh-img-dropdown-under-overlay {
    background-image:url('images/arrow-right-dark.png');
}

.sh-img-dropdown-dark.sh-img-dropdown-theme-minimal.sh-img-dropdown-direction-left .sh-img-dropdown-under-overlay {
    background-image:url('images/arrow-left-dark.png');
}

.sh-img-dropdown-dark.sh-img-dropdown-theme-minimal.sh-img-dropdown-direction-up .sh-img-dropdown-under-overlay {
    background-image:url('images/arrow-up-dark.png');
}

.sh-img-dropdown-dark.sh-img-dropdown-theme-minimal.sh-img-dropdown-direction-down .sh-img-dropdown-under-overlay {
    background-image:url('images/arrow-down-dark.png');
}

.sh-img-dropdown-dark.sh-img-dropdown-theme-minimal.sh-img-dropdown-direction-up-down .sh-img-dropdown-under-overlay {
    background-image:url('images/arrow-up-down-dark.png');
}

.sh-img-dropdown-dark.sh-img-dropdown-theme-minimal.sh-img-dropdown-direction-left-right .sh-img-dropdown-under-overlay {
    background-image:url('images/arrow-left-right-dark.png');
}

.sh-img-dropdown-dark .sh-img-dropdown-list {
    background:black;
}

.sh-img-dropdown-dark .sh-img-dropdown-textblock {
    color:white;
    background:#272727;
}


/* SH SCROLL BAR */
.sh-scrollbar-wrapper {
    height:1px;
    position:relative;
    float:left;
}

.sh-scrollbar-track {
    position:absolute;
    padding:1px;
}

.sh-scrollbar-slider {
    position:relative;
}

.sh-scrollbar-track-y {
    width:8px;
    height:100%;
}

.sh-scrollbar-track-x {
    width:100%;
    height:8px;
}

.sh-scrollbar-track-y .sh-scrollbar-track {
    bottom:0;
    top:0;
}

.sh-scrollbar-track-x .sh-scrollbar-track {
    left:0;
    right:0;
}

.sh-scrollbar-track-y .sh-scrollbar-slider {
    width:6px;
    height:35px;
}

.sh-scrollbar-track-x .sh-scrollbar-slider {
    width:35px;
    height:6px;
}


/* SH SCROLL BAR LIGHT SKIN */
.sh-scrollbar-light .sh-scrollbar-track {
    border-color:#d7d6d6;
    background:white;
}

.sh-scrollbar-light .sh-scrollbar-slider {
    background:#d7d6d6;
}

.sh-scrollbar-light .sh-scrollbar-draggable {
    background:#5f5f5f;
}


/* SH SCROLL BAR DARK SKIN */
.sh-scrollbar-dark .sh-scrollbar-track {
    border-color:#272727;
    background:#484848;
}

.sh-scrollbar-dark .sh-scrollbar-slider {
    background:#2f2f2f;
}

.sh-scrollbar-dark .sh-scrollbar-draggable {
    background:#040404;
}