/* SH IMAGE SELECT */
.sh-img-select-wrapper {
    float:left;
}

.sh-img-select-container {
    overflow:hidden;
}

.sh-img-select-screen-container {
    float:left;
}

.sh-img-select-screen {
    float:left;
}

.sh-img-select-screen img {
    float:left;
}

.sh-img-select-image-wrapper {
    position:relative;
    float:left;
    overflow:hidden;
}

.sh-img-select-selected-layer {
    display:none;
    width:100%;
    height:100%;
    position:absolute;
    z-index:998;
    background:url('images/tick.png') center center no-repeat #5cb98b;
}

.sh-img-select-textblock {
    position:absolute;
    bottom:-100%;
    z-index:999;
    padding: 5px 0;
    text-align:center;
    font-size:12px;
}

.sh-img-select-container .sh-scrollbar-track {
    border:1px solid;
}

.sh-img-select-container .sh-scrollbar-track,
.sh-img-select-container .sh-scrollbar-slider {
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -khtml-border-radius:4px;
    behavior:url(PIE.htc);
}

.sh-img-select-container .sh-scrollbar-track-y {
    width:10px;
    margin-left:5px;
}

.sh-img-select-container .sh-scrollbar-track-x {
    height:10px;
    margin-top:5px;
}

/* SH IMAGE BOX THEME */
.sh-img-select-theme-box {
    padding:5px;
    border:1px solid;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -khtml-border-radius:3px;
    position:relative\0;
    behavior:url(PIE.htc);
}

.sh-img-select-theme-box .sh-img-select-textblock {
    width:100%;
    -moz-opacity:0.7;
    -khtml-opacity: 0.7;
    filter: alpha(opacity=70);
    opacity: 0.7;
}


/* SH IMAGE MINIMAL THEME */
.sh-img-select-theme-minimal {
    background:0;
}

.sh-img-select-theme-minimal .sh-img-select-selected-layer {
    background: url('images/tick-green.png') right top no-repeat;
}

.sh-img-select-theme-minimal .sh-img-select-textblock {
    padding:5px;
    border:1px solid;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -khtml-border-radius:3px;
    behavior:url(PIE.htc);
}


/* SH IMAGE SELECT LIGHT SKIN */
.sh-img-select-light .sh-img-select-textblock {
    color:black;
    background:white;
}

.sh-img-select-theme-box.sh-img-select-light {
    border-color:#d7d6d6;
    background-color:white;
    -moz-box-shadow:0 2px 5px -2px #d9d9d9;
    -webkit-box-shadow:0 2px 5px -2px #d9d9d9;
    -khtml-box-shadow:0 2px 5px -2px #d9d9d9;
}

.sh-img-select-theme-minimal.sh-img-select-light .sh-img-select-textblock {
    border-color:#d7d6d6;
}


/* SH IMAGE SELECT DARK SKIN */
.sh-img-select-dark .sh-img-select-textblock {
    color:white;
}

.sh-img-select-theme-box.sh-img-select-dark {
    background:#484848;
    border-color:#272727;
    -moz-box-shadow:0 2px 5px -2px #3d3d3d;
    -webkit-box-shadow:0 2px 5px -2px #3d3d3d;
    -khtml-box-shadow:0 2px 5px -2px #3d3d3d;
}

.sh-img-select-theme-box.sh-img-select-dark .sh-img-select-image-wrapper {
    background:black;
}

.sh-img-select-theme-box.sh-img-select-dark .sh-img-select-textblock {
    background:#272727;
}

.sh-img-select-theme-minimal.sh-img-select-dark .sh-img-select-textblock {
    border-color:#272727;
    background:#484848;
}

/* SH SCROLL BAR */
.sh-scrollbar-wrapper {
    height:1px;
    position:relative;
    float:left;
}

.sh-scrollbar-track {
    position:absolute;
    padding:1px;
}

.sh-scrollbar-slider {
    position:relative;
}

.sh-scrollbar-track-y {
    width:8px;
    height:100%;
}

.sh-scrollbar-track-x {
    width:100%;
    height:8px;
}

.sh-scrollbar-track-y .sh-scrollbar-track {
    bottom:0;
    top:0;
}

.sh-scrollbar-track-x .sh-scrollbar-track {
    left:0;
    right:0;
}

.sh-scrollbar-track-y .sh-scrollbar-slider {
    width:6px;
    height:35px;
}

.sh-scrollbar-track-x .sh-scrollbar-slider {
    width:35px;
    height:6px;
}


/* SH SCROLL BAR LIGHT SKIN */
.sh-scrollbar-light .sh-scrollbar-track {
    border-color:#d7d6d6;
    background:white;
}

.sh-scrollbar-light .sh-scrollbar-slider {
    background:#d7d6d6;
}

.sh-scrollbar-light .sh-scrollbar-draggable {
    background:#5f5f5f;
}


/* SH SCROLL BAR DARK SKIN */
.sh-scrollbar-dark .sh-scrollbar-track {
    border-color:#272727;
    background:#484848;
}

.sh-scrollbar-dark .sh-scrollbar-slider {
    background:#2f2f2f;
}

.sh-scrollbar-dark .sh-scrollbar-draggable {
    background:#040404;
}